<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
    <main>
        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__text">
                            <h2>Shop</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shop Section Begin -->
        <section class="shop spad">
            <div class="container">
                <div class="shop__option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="shop__option__search">
                                <form action="/search" method="post">
                                    <input type="text" placeholder="Search" name="keywords">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="shop__option__right">
                                <select>
                                    <option value="">Default sorting</option>
                                    <option value="">A to Z</option>
                                    <option value="">1 - 8</option>
                                    <option value="">Name</option>
                                </select>
                                <a href="#"><i class="fa fa-list"></i></a>
                                <a href="#"><i class="fa fa-reorder"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div th:each="p: ${page}" class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a th:href="@{|/product/detail/${p.id}|}">
                                    <img th:src="@{|/user/img/${p.image}|}">
                                </a>
                                <div class="product__label">
                                    <span>Cupcake</span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#" th:utext="${p.name}"></a></h6>
                                <div class="product__item__price">$[[${p.price}]]</div>
                                <div class="cart_add">
                                    <a th:attr="ng-click=@{|cart.add(${p.id})|}">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop__last__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__pagination">
                                <div class="shop__pagination">
                                    <a th:href="@{/product/list(p=0)}"><<</a>
                                    <span th:if="${page.number != 0}"><a th:href="@{/product/list(p=${page.number - 1})}"><</a></span>
                                    <span th:if="${totalPages - 1 > page.number}"><a th:href="@{/product/list(p=${page.number + 1})}">></a></span>
<!--                                    <a th:href="@{/product/list(p=${page.number + 1})}">></a>-->
                                    <a th:href="@{/product/list(p=${totalPages - 1})}">>></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__last__text">
                                <p th:text="${page.number * page.size + 1 + ' - ' + (page.number * page.size + page.numberOfElements ) + ' of ' + page.totalElements} + ' product'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section End -->
    </main>
</div>