<div xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/layout/index :: dynamic (~{::main})}">
	<main>
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="breadcrumb__text">
							<h2>Shopping cart</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="breadcrumb__links">
							<a th:href="@{/home}">Home</a>
							<span>Shopping cart</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->

		<!-- Shopping Cart Section Begin -->
		<section class="shopping-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="shopping__cart__table">
							<div ng-if="!cart.items.length" class="panel-body text-center">
								<h3 style="font-variant: small-caps;">No items in your shopping cart</h3>
							</div>
							<table ng-if="cart.items.length">
								<thead>
								<tr>
									<th>Product</th>
									<th>Quantity</th>
									<th>Total</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="item in cart.items">
									<td class="product__cart__item">
										<div class="product__cart__item__pic">
<!--											<img th:src="@{/user/img/shop/cart/}+{{item.image}}"" alt="">-->
										</div>
										<div class="product__cart__item__text">
											<h6>{{item.name}}</h6>
											<h5>${{item.price | number : 2}}</h5>
										</div>
									</td>
									<td class="quantity__item">
										<div class="quantity">
											<div class="pro-qty">
												<input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="text" min="1">
											</div>
										</div>
									</td>
									<td class="cart__price">${{cart.amt_of(item) | number : 2}}</td>
									<td class="cart__close"><span class="icon_close" ng-click="cart.remove(item.id)"></span></td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="continue__btn">
									<a th:href="@{/product/list}">Continue Shopping</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="continue__btn update__btn">
									<a ng-click="cart.clear()"><i class="fa fa-spinner"></i> Clear cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="cart__discount">
							<h6>Discount codes</h6>
							<form action="#">
								<input type="text" placeholder="Coupon code">
								<button type="submit">Apply</button>
							</form>
						</div>
						<div class="cart__total">
							<h6>Cart total</h6>
							<ul>
								<li>Subtotal <span>${{cart.amount|number:2}}</span></li>
								<li>Total <span>${{cart.amount|number:2}}</span></li>
							</ul>
							<a th:href="@{/order/checkout}" class="primary-btn">Proceed to checkout</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shopping Cart Section End -->
	</main>
</div>
